@media (max-width: 500px){
    .navbar{
        padding: 0px;
    }
    .container-fluid{
        padding: 0px !important;
    }
    .main_section_content_1{
        gap: 0px;

        button{
            width: auto;
        }
    }
    .trading_store_boxs {

        .box_parent{

            &:nth-child(1), &:nth-child(2){
                flex: 2;
            }

        }
    }
    .effect_text::after{
        display: none;
    }
}