@media (max-width: 990px){

    .navbar{
        .flags{
            margin-top: 10px;
        }
        .flags img{
            width: 35px;
        }
        .lang_sel button{
            padding: 6px;
            font-size: 14px;
        }
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-collapse{
        transition: all .5s ease-in-out;
        padding: 10px;
        .navbar-nav{
            gap: 0rem;
        }
    }
    .lang_sel{
        flex-wrap: wrap;
    }
   
}

@media (max-width: 500px){
    .navbar{
        padding: 10px;
    }
    .container-fluid{
        padding: 0px !important;
    }
    .main_section_content_1{
        gap: 0px;

        button{
            width: auto;
        }
    }
    .trading_store_boxs {

        .box_parent{

            &:nth-child(1), &:nth-child(2){
                flex: 2;
            }

        }
    }
    .effect_text::after{
        display: none;
    }
    #btn-signup{
        width: auto;
    }
    #card-res{
        margin-top: 10px;
    }
    .accordion{
        width: 100%;
    }
}