@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --bg_button: #27b384;
    --color: white;
    --bg_sec_header: #222222;
    --font-family: "Red Hat Display", sans-serif;
    --text-color: #222;
    --color-light: #e0e0e0;
    --border-color: #2b2b2b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ******************** Main Header  ******************* */

.navbar {
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 100;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #dde4eb;
    padding: 15px 0px;
    z-index: 100;
    .navbar-nav {
        gap: 1.3rem;

        .nav-link {
            font-size: 13.5px !important;
            color: #222;
            font-weight: 500;
            font-family: var(--font-family);
            transition: all .3s ease-in;

            &:hover {
                color: #696969;
            }
        }

    }

    .lang_sel button {
        font-family: var(--font-family);
        font-weight: 700;
        color: #fff;
        background: #27b384;
        border: 2px solid #27b384;
        border-radius: 8px;
        padding: 10px 16px;
        font-size: 14px;
        transition: all .3s ease-in;
        &:hover{
            background: transparent;
            color: var(--bg_button);
        }
    }

    .flags img {
        width: 38px;
        margin-right: 1rem;
    }
}


/* ******************** Secondary Header  ******************* */
.sec_top_header {
    background-color: var(--bg_sec_header);
    padding: 10px;
    font-family: var(--font-family);
    color: var(--color);
    align-items: center;
    gap: 10px;

    h5,
    h6 {
        margin-bottom: 0px;
    }

    .same_icons {

        i {
            background-color: var(--bg_button);
            color: var(--color);
            font-size: 10px;
            padding: 3px;
        }
    }

    .review {
        display: flex;
        align-items: center;
        gap: 4px;
    }

}

/*  ********************* Main Section *********************** */

.main_section_content_1 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;

    h2 {
        font-family: var(--font-family);
        color: var(--text-color);
        font-weight: 700;
        font-size: 34px;
    }

    button {
        margin-top: 10px;
        background-color: var(--bg_button);
        width: 300px;
        color: var(--color);
        font-weight: 700;
        padding: 15px;
        border: 1px solid var(--bg_button);
        border-radius: 10px;
    }

    button:hover {
        border: 1px solid var(--bg_button);
        background-color: var(--color);
        color: var(--bg_button);
        transition: 1s;
    }

    .card_section_1 {
        background-color: #f0ecec;
        color: black;
        padding: 10px;
        width: 100%;

        .card_section_list {
            display: flex;

            i {
                margin-top: 4px;
            }

            p {
                font-family: var(--font-family);

            }
        }

    }

    hr {
        opacity: .15;
    }
}

.main_section_content_2 {
    padding: 20px;

    img {
        width: 100%;
    }
}

/* **********************  Second table Portion **************** */
.trading_store_main {
    background: var(--bg_sec_header);

    .trading_store_main_title {
        font-size: 26px;
        font-weight: 700;
        font-family: var(--font-family);
    }

    .trading_store_boxs {
        .box_parent {
            padding: 0px;

            .box {
                border-style: solid;
                border-width: 0 1px 1px 0;
                border-color: var(--border-color);
                padding: 15px;
            }

            .box_headings {
                font-size: 15px !important;
            }

            .green_txt {
                color: #2a9e1c;
                font-weight: 700;
                font-family: var(--font-family);
                margin-bottom: 2px;
            }

            .red_txt {
                color: #c71f1f;
                font-weight: 700;
                font-family: var(--font-family);
            }

            .with_icons {

                i {
                    color: var(--bg_button);
                    font-size: 22px;
                }

                p {
                    font-size: 14px;
                    color: #aeaeae;
                    margin-top: 1.2rem;
                }
            }
        }

        .updated_date {
            font-size: 14px;
            font-weight: 500;
            font-family: var(--font-family);
        }
    }
}

/* **********************  Testimonial Portion **************** */
.testimonial_reviews{

    .testimonial_reviews_heading{
        font-size: 32px;
        font-family: var(--font-family);
        font-weight: 700;
    }
}
.testimonial_reviews_cards {
    padding-bottom: 2rem;
    .card{

        transition: all .2s ease-in-out;
        border-color: var(--color-light);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        &:hover{
            cursor: pointer;
            transform: translateY(-10px);
        }
    }
    .card .card-body 
    {

    blockquote{
        font-family: var(--font-family);
        text-align: justify;
        font-weight: 500;
    }
    img{

        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    figcaption h4,h5{
        font-family: var(--font-family);
        font-weight: 700;
    }
    }
}

/* **************************** Card Grid *********************** */

.card_icons_top {
    i {
        background-color: var(--bg_button);
        color: var(--color);
        padding: 6px;
        font-size: 12px;

    }
}

.grid_view-section {
    background-color: rgba(182, 196, 210, .4);
    padding: 10px;
    height: 400px;
    overflow-y: auto;

    .card {
        box-shadow: 0 1px 0 0 rgba(182, 196, 210, .4);
        border: none !important;
        margin: 5px;
    
    
        .card-body {
            .card_icons {
                i {
                    background-color: var(--bg_button);
                    color: var(--color);
                    padding: 3px;
                    font-size: 10px;
                    align-items: center;
                }
            }
    
            .effect_text{
                position: relative;
            }
            .effect_text::after{
                content: "";
                width: 100%;
                height: 30px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(#f9f3f394 30%, #f9f3f3 81%);
            }

            .card-title {
                h6 {
                    font-size: 14px;
                    font-family: var(--font-family);
                    color: var(--text-color);
                    font-weight: 500;
                    margin-top: 10px;
                }
    
                p {
                    font-family: var(--font-family);
                    font-size: 13px;
                    color: #191919;
                    margin-bottom: -2px;
    
                }
    
                a {
                    text-decoration: none;
                    color: var(--bg_button);
                    text-align: center;
                    display: flex;
                    justify-content: center;
    
                }
    
            }
        }
    }

}

