@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --bg_button: #27b384;
    --color: white;
    --bg_sec_header: #222222;
    --font-family: "Red Hat Display", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ******************** Second  Top Header  ******************* */
.sec_top_header {
    background-color: var(--bg_sec_header);
    padding: 4px;
    font-family: var(--font-family);
    color: var(--color);

    h6 {
        margin: 10px;
    }

    .same_icons {

        i {
            background-color: var(--bg_button);
            color: var(--color);
            font-size: 10px;
            padding: 3px;
        }
    }

}

/*  ********************* Main Section *********************** */

.main_section_content_1 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    h2 {
        font-family: var(--font-family);
        color: black;
        font-weight: 600;

    }

    button {
        background-color: var(--bg_button);
        width: 300px;
        color: var(--color);
        font-weight: 700;
        padding: 15px;
        border: 1px solid var(--bg_button);
        border-radius: 10px;

    }

    button:hover {
        border: 1px solid var(--bg_button);
        background-color: var(--color);
        color: var(--bg_button);
        transition: 1s;
    }

    .card_section_1 {
        background-color: #f0ecec;
        color: black;
        padding: 10px;
        width: 100%;

        i {
            margin-top: 4px;
        }
    }
}

.main_section_content_2 {
    img {
        width: 100%;
    }
}

/* **********************  Second table Portion **************** */
.sec_table_section {
    background-color: #222222;
    color: var(--color);
    .text-white {
        color: #ffffff;
    }

    .table-dark {
        background-color: #333;
    }

    .table-dark th,
    .table-dark td {
        border-color: #444;
    }

    .text-success {
        color: #27b384 !important;
    }

    .text-danger {
        color: #ff0000 !important;
    }
}